body {
    background-color: #393738 !important;
}

.snow {
    top: 0;
    left: 0;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    z-index: -2;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
